
.modal-content{
   border: none !important;
   border-radius:unset !important;
} 

/*modal */
.taps{
    display:flex;
    justify-content:space-around;
    align-items: center;
     width: 100%;
}
.login_tap,.register_tap{
    width: 100%;
    height: 50px;
    border-radius:unset;
    margin: 0;
    padding: 0;
    background-color: chocolate;
    color:#fff;
    font-size:x-large
}
/* .login_tap{
 }
.register_tap{
  */
/* } */
/*modal */

/* form register */
.form_register div{
    margin: 20px 20px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    position: relative;
    /* margin: auto; */
}
.form_register div label{
    margin-bottom: 10px;
}

.form_register div input{
    height:50px;
    width: 100%;
    margin:auto;
    border:2px solid rgb(75, 72, 72);
    border-radius:5px;
    padding-left: 10px;
}
.form_register div p{
    color:red;
}
.form_register_submit{
    height: 50px;
    background: #6c757d;
    color: #fff;
    font-size: x-large;
    transition: .3s;
    border-radius:5px
}
.form_register_submit:hover{
    background: #d2691e;
}


/* form register */

/* form login */

/* form login */
.active{
    border: 2px solid red !important;
}
.opps{
    position: absolute;
    right: 11px;
    color: red;
}